<h1>Text the app number to (646) 760-6352!</h1>

<div id="submissions">
	<table>
		<% @submissions.each do |s| %>
			<% if s.id % 2 == 1%>
			  <tr>
			<%end%>
			<td>
				<%= s.identifier %> : <%= s.name %><br>
			</td>
			<% if s.id % 2 == 0 %>
			  </tr>
			<%end%>
		<% end %>
	</table>
</div>
